# TGR Created Files
settings.cfg
bin/for-windows.rc.data
*.sav

# Nano
*.swp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
TGR
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Blocked Folders
dummy/*
.vscode/*
bin/raylib*
bin/netlib*
bin/cJSON*
bin/*.zip*
bin/win*
asm/customasm/customasm*
asm/customasm/shaders/shader*.bin
bin/customasm
asm/customasm/shaders/-cropped.bin
intructions explained.txt
intructions explained-old.txt
